body {
    background-color: #f7f7f7
}

.jumbotron {
    position: relative;
    background: #000 url("https://photos.smugmug.com/photos/i-jvGVKSk/0/5848e145/X3/i-jvGVKSk-X3.jpg") center center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
}

.nav-color {
    /*background-color: rgba(2,123,227,0.1);*/
}

#jumbotron-content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.glyphicon {
    font-size: 100px;
    color: #26a69a;
    margin: 25px;
}

.glyphicon:hover {
    color: black;
}

.logo {
    width: 50%;
}

footer {
    /*background-color: #777777;*/
    padding-top: 25px;
}

.nav a {
    color: lightgrey;
}

ul.nav a:hover {
    text-decoration: underline;
    background-color: rgba(211,211,211,0.0);
    /*background-color: #027be3;*/
}

ul.nav a:focus {
    /*background-color: #027be3;*/
}

/*ul.nav a:focus {*/
/*text-decoration: underline;*/
/*}*/

/*#nav{*/
    /*transition: 1s;*/
    /*opacity: .75;*/
/*}*/

/* navbar */
.navbar-default {
    background-color: rgba(211,211,211,0.0);
    border-color: rgba(211,211,211,0.0);
}
/* Title */
.navbar-default .navbar-brand {
    color: #f7f7f7;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #f7f7f7;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: rgba(211,211,211,0.0);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

.navbar {
    margin-bottom: 0px;
}